.topnav {
    overflow: hidden;
    background-color: #4c566a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    display: inline-block;
    margin-left: 1rem;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #434c5e;
    color: black;
}

.logo img {
    width: 150px;
    height: 100px
}
